.tic-tac-toe-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    width: max-content;
    border-collapse: collapse;
}

body {
    background-color: black;
    color: lightgray
}

.tic-tac-toe-board {
    margin: 20px auto;
    border: 2px solid lightgray;
    border-collapse: collapse;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.tic-tac-toe-cell {
    width: 24px;
    height: 24px;
    border: 2px solid black;
    font-size: 16px;
    text-align: center;
}