
.page-section {
    margin: 40px;
    border: 2px dashed black;
}

.first-section {
    background-color: lightblue;
}

.second-section {
    background-color: lightgreen;
}

.section-title {
    text-decoration: underline;
    font-size: 24px;
}